{% extends 'base.html' %}
{% block title%} - Admin {% endblock %}
{% block content %}

<div class="w-max flex flex-col mt-10 px-10 pt-2 pb-5">
    <div class="flex-1">
        <h2 class="text-lg">Howdy, Admin!</h2>
    </div>
    <div class="flex-1  bg-orange-950 bg-opacity-25 px-10 py-2">
        <p>List of active/created players - </p>
        <ul>
            {% for user in userlist  %}
                <li>{{ user.username }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="flex flex-row pt-2 items-center align-middle">
        <div class="flex">
            <a type="button" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                Add User
            </a>
        </div>
        <div class="flex">
            <a type="button" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
                Delete User
            </a>
        </div>
    </div>
</div>

{% endblock %}