<div class="gap-2 max-w-2xl m-auto">
    <form method="post" action="" class="gap-2" onclick="" id="quiz-form">
        <fieldset>
            <legend class="sr-only">Countries</legend>
            <div class="flex items-center mb-4">
                <input type="radio" name="countries" id="country-id-1" value="USA" class="w-4 h-4 border-gray-300 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-600 dark:border-gray-600">
                <label for="country-id-1" class="block ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                    USA
                </label>
            </div>
            <div class="flex items-center mb-4">
                <input type="radio" name="countries" id="country-id-2" value="CANADA" class="w-4 h-4 border-gray-300 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-600 dark:border-gray-600">
                <label for="country-id-2" class="block ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                    CANADA
                </label>
            </div>
            <div class="flex items-center mb-4">
                <input type="radio" name="countries" id="country-id-3" value="GERMANY" class="w-4 h-4 border-gray-300 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-600 dark:border-gray-600">
                <label for="country-id-3" class="block ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                    GERMANY
                </label>
            </div>
            <div class="flex items-center mb-4">
                <input type="radio" name="countries" id="country-id-4" value="INDIA" class="w-4 h-4 border-gray-300 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-600 dark:border-gray-600">
                <label for="country-id-4" class="block ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                    INDIA
                </label>
            </div>
        </fieldset>
        <button id="kt-btn" type="submit" class="text-white m-auto bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get the keys!</button>
    </form>
</div>